

{% extends 'mama.html' %}

{% block page-main %}
    <form action="" method="post">

        {% csrf_token %}

        <div class="form-group">
            <h1>添加主机</h1>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">主机名： </label>
            <input type="text" name="hostname" class="form-control" id="" placeholder="hostname"> <span
                style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">添加服务: </label>
            <select name="service" id="" multiple>
                {% for service in service_list %}
                    <option  value="{{ service.id }}">{{ service.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="提交">
        </div>

    </form>



{% endblock %}