

{% extends 'mama.html' %}

{% block page-main %}
    <form action="" method="post">

        {% csrf_token %}

        <div class="form-group">
            <h1>添加服务</h1>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">服务名称: </label>
            <input type="text" name="servicename" class="form-control" id="" placeholder="服务名称"> <span
                style="color: red"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">管理用户: </label>
            <select name="user" id="">
                {% for user in user_list %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="提交">
        </div>

    </form>



{% endblock %}