<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ html_title }}</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
</head>
<body>

{#{% include 'nav.html' %}#}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block page-main %}

            {% endblock %}
        </div>
    </div>
</div>

<script src="/static/jquery.js"></script>
{% block page-js %}

{% endblock %}

</body>
</html>
