{% extends 'mama.html' %}

{% block page-main %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h3>服务配置</h3>
            <p>
                <label for="">服务: </label>
                <span>{{ service_obj.name }}</span>
            </p>
            <label for="">管理用户: </label>
            <select name="user" id="" class="name">
                {% for user in user_list %}
                    {% if service_obj.Users == user %}
                        <option selected value="{{ user.id }}">{{ user.name }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>


        <label for="">绑定主机: </label>
        <select name="hosts" id="" class="name" multiple>
            {% for hosts in hosts_list %}
                {% if hosts in service_obj.hosts.all %}
                    <option selected value="{{ hosts.id }}">{{ hosts.name }}</option>
                {% else %}
                    <option value="{{ hosts.id }}">{{ hosts.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div class="form-group">
            <input type="submit" value="提交">
        </div>


    </form>



{% endblock %}